<div class="example-container">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="showSidenav" class="custom-sidenav">
      <mat-nav-list>
        <ng-container *ngFor="let option of options">
          <a *ngIf="!option.admin || (option.admin && isAdmin)"  mat-list-item [routerLink]="option.route">
            <mat-icon class="nav-icon">{{ option.icon }}</mat-icon>
            <span class="nav-caption" *ngIf="!isSmallScreen">{{ option.title }}</span>
          </a>
        </ng-container>
        <a mat-list-item (click)="logout()">
          <mat-icon class="nav-icon">exit_to_app</mat-icon>
          <span class="nav-caption" *ngIf="!isSmallScreen">Cerrar sesión</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="containerWhite container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>