<div class="row justify-content-center mt-4 mb-5">
  <h3 style="text-align: center" class="title">Mis especialidades</h3>
</div>

<div class="row">
    <div class="col d-flex justify-content-end justify-content-sm-center mb-5" style="flex: 1 0 auto;">
      <button (click)="openModal()" class="btn-create">Actualizar especialidades</button>
    </div>
  </div>


<div class="row justify-content-center mt-5">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Categoría</th>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of specialties; let j = index">
          <td>{{ item.category?.name }}</td>
          <td>{{ item.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="col-12 text-center mb-5">
    <button
      class="btn mt-4 btn-outline-primary w-50"
      mat-button
      type="submit"
      (click)="save()"
    >
      Guardar
    </button>
  </div> -->
</div>
